@charset "utf-8";

@import "gradients.asp?flush";
@import "sidebars-transparent.asp?flush-new";
@import "sidebars.asp?flush";
@import "newsletters.css?flush";
@import "youth-jeunes.css?flush";

@media print {
	img {
		max-width: 7in;
	}

}

@media print {
	DIV#icon {
		max-width: 7in;
	}
}

#archived {
	clear: both;
	position: static;
	text-align: center;
	color: #fff;
	padding: 2px 0;
	background-color: #fff;
}
.archive-heading {
	-color: #CC0000;
}
#archived div.alert {
	background-color: #CC0000;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 5px;
	font-size: 160%;
	font-weight: normal;
	text-decoration: none;
}
#archived a {
	color: #fff;
	text-decoration: none;
}
#archived a:focus, #archived a:hover {
	color: #fff;
	text-decoration: none;
}

/* Archived box */
#archived-box div.alert {font-size:1.8em;background-color:#C00;color:#FFF;margin:0;padding:2px 0 2px 10px;}
#archived-box {border: 1px solid #C00;}
#archived-box p {margin-left:10px; margin-right: 10px;}
/* end Archived box */

/* Hidden element for assistive text */
.assistive-text {
	position: absolute !important;
	top: -10000px;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}


/* callout boxes right and full width with purple background and white text with large fonts for quotes when needed */
.callout .largeCallout {color: white; font-family:'Times New Roman', Times, serif; font-size:2em; line-height:1.2em; margin-bottom:0.5em; margin-top:0.5em}
#cn-centre-col-inner .callout a:active,
#cn-centre-col-inner .callout a:visited,
#cn-centre-col-inner .callout a:link {color: white; text-decoration:underline}
#cn-centre-col-inner .callout a:hover, 
#cn-centre-col-inner .callout a:focus {color: #c0bfdc; text-decoration:underline; text-shadow:none}

.callout {
background-color: #232f84;
border-bottom-color: #c0bfdc;
border-left-color: #c0bfdc;
border-left-style: solid;
border-left-width: 5px;
border-right-color: #c0bfdc;
border-top-color: #c0bfdc;
box-sizing: border-box;
color: white;
display: block;
line-height: 20px;
margin-bottom: 20px;
margin-left: 15px;
margin-right: 0px;
margin-top: 20px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 30px;
padding-top: 15px;
width: 275px;
float:right;
}

.callout-box .largeCallout {color: white; font-family:'Times New Roman', Times, serif; font-size:2em; line-height:1.2em; margin-bottom:0.5em; margin-top:0.5em}
#cn-centre-col-inner .callout a:active,
#cn-centre-col-inner .callout a:visited,
#cn-centre-col-inner .callout a:link {color: white; text-decoration:underline}
#cn-centre-col-inner .callout a:hover, 
#cn-centre-col-inner .callout a:focus {color: #c0bfdc; text-decoration:underline; text-shadow:none}

#cn-centre-col-inner .callout-box a:active {color: white; text-decoration:underline}
#cn-centre-col-inner .callout-box a:visited {color: white; text-decoration:underline}
#cn-centre-col-inner .callout-box a:link {color: white; text-decoration:underline}
#cn-centre-col-inner .callout-box a:hover {color: white; text-decoration:underline}
#cn-centre-col-inner .callout-box a:focus {color: #c0bfdc; text-decoration:underline; text-shadow:none}


.callout-box {
background-color: #232f84;
border-bottom-color: #c0bfdc;
border-left-color: #c0bfdc;
border-left-style: solid;
border-left-width: 5px;
border-right-color: #c0bfdc;
border-top-color: #c0bfdc;
box-sizing: border-box;
color: white;
display: block;
line-height: 20px;
margin-bottom: 20px;
margin-left: 15px;
margin-right: 0px;
margin-top: 20px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 30px;
padding-top: 15px;
width: 740px;
float:right;
}

/* end callout boxes */



/* callout boxes full width with YELLOW background and black text with large PURPLE fonts for title */

.callout-box-yellow .largeCallout {color: #232F84; font-family:'Times New Roman', Times, serif; font-size:2em; line-height:1.2em; margin-bottom:0.5em; margin-top:0.5em}
#cn-centre-col-inner .callout-box-yellow a:active {color: #000; text-decoration:underline}
#cn-centre-col-inner .callout-box-yellow a:visited {color: #000; text-decoration:underline}
#cn-centre-col-inner .callout-box-yellow a:link {color: #000; text-decoration:underline}
#cn-centre-col-inner .callout-box-yellow a:hover {color: #000; text-decoration:underline}
#cn-centre-col-inner .callout-box-yellow a:focus {color: #000; text-decoration:underline; text-shadow:none}


.callout-box-yellow {
background-color: #EEB111;
border-bottom-color: #c0bfdc;
border-left-color: #c0bfdc;
border-left-style: solid;
border-left-width: 5px;
border-right-color: #c0bfdc;
border-top-color: #c0bfdc;
box-sizing: border-box;
color: #000;
display: block;
line-height: 20px;
margin-bottom: 20px;
margin-left: 15px;
margin-right: 0px;
margin-top: 20px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 30px;
padding-top: 15px;
width: 740px;
float:right;
}

/* end callout YELLOW boxes */






DIV.floatLeft, IMG.float-left {
	padding: 5px 5px 5px 0;
	clear: left;
}






#cn-skip-head a:hover, #cn-skip-head a:focus, #cn-skip-head a:active,#cn-banner {
	background-color: #232F84;
}
#cn-banner, #cn-banner-eng, #cn-banner-fra {min-height: 152px;}
#cn-banner-eng {background: #FFF url(../images/opc-header-en.png) no-repeat bottom right;}
#cn-banner-fra {background: #FFF url(../images/opc-header-fr.png) no-repeat bottom right;}
#cn-cmb ul li a:hover, #cn-cmb-2 ul li a:hover, #cn-cmb ul li a:active, #cn-cmb-2 ul li a:active, #cn-cmb ul li a:focus, #cn-cmb-2 ul li a:focus {color: #000; background-color: #999;}
#cn-left-col-inner, #cn-left-col-gap {
	background-color: #D3D3D3;
}
#cn-body-inner-3col, #cn-body-inner-2col, #cn-body-inner-1col {width: 950px;}
#cn-bcrumb {width: 720px;float:left;font-size: 90%;}
#cn-bcrumb,#cn-bcrumb ol {clear: none;}
#cn-left-col, #cn-left-col-gap {width: 200px;}
#cn-left-col {margin-right: -200px;}
#cn-right-col {z-index: 1}
/* 3 column / 3 colonnes */
#cn-body-inner-3col #cn-centre-col-inner {margin-left: 205px; margin-right: 200px; padding-left: 5px; padding-right: 5px;}
#cn-body-inner-3col #cn-centre-col-gap {left: 205px; right: 200px;}


/* 2 column / 2 colonnes */
#cn-body-inner-2col #cn-centre-col-inner {margin-left: 205px; padding-left: 5px;}
#cn-body-inner-2col #cn-centre-col-gap {left: 205px;}
.cn-left-col-default ul li ul li a
	{padding-top: .3em;padding-bottom: .3em;}
.cn-left-col-default li a:visited, .cn-right-col-default li a:visited, #cn-search-box a:visited
	{color: #000; text-decoration: none;}
/*
, .cn-right-col-default li a:hover, .cn-right-col-default li a:focus, .cn-right-col-default li a:active
*/
.cn-left-col-default li a:hover, .cn-left-col-default li a:focus, .cn-left-col-default li a:active, #cn-search-box a:hover, #cn-search-box a:focus, #cn-search-box a:active
	{color: #D3D3D3; background-color: #555555; outline: none;}
.cn-right-col-default li a {
	display: inline;
	color: inherit;
	background: none;
}
.cn-right-col-default li a:hover {
	display: inline;
	color: inherit;
	background: none;
	text-decoration: underline;
}

.cn-left-col-default ul li { background: #D3D3D3;border-top: 1px dotted #999; font-weight: bold;}
.cn-left-col-default ul li a.active {background: #555555;color: #D3D3D3;}
.cn-left-col-default ul li ul {padding: 0 0 0 0;margin:0;background: #ECEDF4;}
.cn-left-col-default ul li ul li {background: #ECEDF4;font-size: 90%;font-weight: normal;}
.cn-left-col-default ul li ul li ul li {font-size: 95%;}
.cn-left-col-default ul li ul li ul li a {padding-left: 30px;}
#cn-pd-ul li ul {margin-left: auto; padding-left: auto;}
#cn-pd-ul li ul li {margin-left: auto; padding-left: auto;}
.cn-right-col-default h3 + div {border: inherit; padding: 0; margin: 0;}
#cn-search-submit:focus {
	background: #003 !important;
}


#cn-centre-col-inner h1:first-child, .smallbusiness {
	background: #dee0ed; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeff5 0%, #dee0ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeff5), color-stop(100%,#dee0ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeff5 0%,#dee0ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeff5 0%,#dee0ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeff5 0%,#dee0ed 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeff5 0%,#dee0ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeff5', endColorstr='#dee0ed',GradientType=0 ); /* IE6-8 */
	color: #232F84;
	-webkit-border-top-right-radius: .8em;
	-webkit-border-bottom-right-radius: .8em;
	-moz-border-radius-topright: .8em;
	-moz-border-radius-bottomright: .8em;
	border-top-right-radius: .8em;
	border-bottom-right-radius: .8em;
	-moz-box-shadow: 2px 3px 5px #ccc;
	-webkit-box-shadow: 2px 3px 5px #ccc;
	box-shadow: 2px 3px 5px #ccc;
	font-weight: normal;
	padding: .3em;
}


DIV.sectionHeader > h1:first-child {
	margin-bottom: 0em;
}
#cn-centre-col-inner h2 {
	font-weight: bold;
}
#cn-centre-col-inner > h3, #cn-centre-col-inner > h4, #cn-centre-col-inner > h5 {
	font-weight: bold;
}
#cn-centre-col-inner > h5.oag {
	font-weight: normal;
}

#cn-centre-col-inner .barstyle {
	background: -moz-linear-gradient(top,  rgba(35,47,132,0.08) 0%, rgba(35,47,132,0.08) 1%, rgba(35,47,132,0.15) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,47,132,0.08)), color-stop(1%,rgba(35,47,132,0.08)), color-stop(100%,rgba(35,47,132,0.15))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(35,47,132,0.08) 0%,rgba(35,47,132,0.08) 1%,rgba(35,47,132,0.15) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(35,47,132,0.08) 0%,rgba(35,47,132,0.08) 1%,rgba(35,47,132,0.15) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(35,47,132,0.08) 0%,rgba(35,47,132,0.08) 1%,rgba(35,47,132,0.15) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(35,47,132,0.08) 0%,rgba(35,47,132,0.08) 1%,rgba(35,47,132,0.15) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14232f84', endColorstr='#26232f84',GradientType=0 ); /* IE6-9 */
	color: #000066;
	padding: .3em;
	font-size: 130%;
}


#cn-left-col-gap {
	background: none;
}
#cn-centre-col-inner > ul > li {
	margin-bottom: 1em;
}
#cn-centre-col-inner > ul > li ul li{
	margin-bottom: .5em;
}
#cn-centre-col-inner > ol > li {
	margin-bottom: 1em;
}
#cn-centre-col-inner > ol > li ul li{
	margin-bottom: .5em;
}
#cn-centre-col-inner a:link { color: #009; }
#cn-centre-col-inner a:visited { color: #333; }
#cn-centre-col-inner a:active, #cn-centre-col-inner a:hover, #cn-centre-col-inner a:focus { color: #0000CC;text-decoration: none;text-shadow: 1px 1px 1px #eee; }
/*
#cn-centre-col-inner a[rel="external"] { background: no-repeat center right url(../images/icons/external-link.png) !important; padding-right: 13px; }
#cn-centre-col-inner a[rel="external"]:hover { background: no-repeat center right url(../images/icons/external-link.png) !important; padding-right: 13px; }
#cn-centre-col-inner a[rel="external"]:focus { background: no-repeat center right url(../images/icons/external-link.png) !important; padding-right: 13px; }
*/
span.external {
	background: transparent no-repeat center center url(../images/icons/external-link.png);
	display: inline-block;
	width: 13px;
	height: 13px;
	cursor: pointer;
}
span.external.secure {
	background: transparent no-repeat center center url(../images/icons/external-link-secure.png);
}

span.new {
	padding:.5em;
	font-size:110%;
	color:#A30134;
	font-weight:bold;
}

.contentTitle {
	margin: 0px;
	border-bottom: 1px solid #232F84;
	padding-top: 10px;
}

.titled-frame > h2 {
	margin: 0;
	padding: .5em;
	font-size: 130%;
	color: #fff;
	background-color: #000;   
}
.titled-frame > h3 {
	margin: 0;
	padding: .2em;
	font-size: 100%;
	color: #fff;
	background-color: #000;
}
.titled-frame h3 + div, .titled-frame h2 + div {
	margin: 0;
	padding: .5em;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: #999;
}
.titled-frame > div > ul {
	list-style: square;
	color: #000;
	margin-left: 1.5em;
	padding-left: 0;
	font-size: 95%;
}

.titled-frame > div > ul > li {
	margin-bottom: 1em;
}

.titled-frame > div > ul > li > ul {
	margin-top: .2em;
	margin-bottom: 0;
}

.titled-frame > div > ul > li > ul > li{
	margin-bottom: .2em;
}

.titled-frame.green > h2, .titled-frame.green > h3 {background-color: #62933D;color:#fff !important;}
.titled-frame.green > div {border-color: #62933D;}
.titled-frame.orange > h2, .titled-frame.orange > h3 {background-color: #FF3300;color:#fff !important;}
.titled-frame.orange > div {border-color: #FF3300;}
.titled-frame.red > h2, .titled-frame.red > h3 {background-color: #A30134;color:#fff !important;}
.titled-frame.red > div {border-color: #A30134;}
.titled-frame.red * {color: #000;}
.titled-frame.navy > h2, .titled-frame.navy > h3 {background-color: #003399;color:#fff !important;}
.titled-frame.navy > div {border-color: #003399;}
.titled-frame.blue > h2, .titled-frame.blue > h3 {background-color: #1f2c80;color:#fff !important;}
.titled-frame.blue > div {border-color: #1f2c80;}
/*
*/







DIV.pd-nav {
	font-size: 105%;
	margin: 1em 0;
	border: 1px solid #CCCCFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 0px 3px;
	width: auto;
	font-weight: bold;
}
DIV.pd-nav A {
	text-decoration: none;
	padding: 0px 3px;
	font-weight: normal;
}
DIV.pd-nav span.rightArrow {
	padding-right: .5em;
}
DIV.pd-nav A:hover, DIV.pd-nav A:focus {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #E0E0E0;
	color: #FFF;
}


DIV.pageList {
	font-size: 95%;
	text-align: center;
	margin: .5em 0;
}
DIV.pageList A, DIV.pageList SPAN.currPg {
	border: 1px solid #000066;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 1px;
	text-decoration: none;
	color: #000066;
	padding: 0px 3px;
}
DIV.pageList SPAN.currPg, DIV.pageList A:hover, DIV.pageList A:focus, DIV.pageList A:focus {
	background-color: #000066;
	color: #FFF !important;
}

DIV.pageList SPAN.inactive-pg {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 0px 4px;
	color: #333;
}


SPAN.searchItemFooter {
	font-size: 80%;
}


DIV.framed-box {
	border: 1px solid #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 3px #CCC;
	-webkit-box-shadow: 2px 2px 3px #CCC;
	box-shadow: 2px 2px 3px #CCC;
	padding: 0 5px 1em 5px;
	margin-bottom: 1em;
}

DIV.framed-box-right {
	float:right; width:18em; display:block;
	margin: .5em 0;
	padding: 0 .5em .5em .5em;
	border: 1px solid #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 3px #CCC;
	-webkit-box-shadow: 2px 2px 3px #CCC;
	box-shadow: 2px 2px 3px #CCC;
}

DIV.framed-box h3 {
	text-align: center;
	margin: 0 -5px .5em -5px;
	color: #000;
	font-size: 115%;
}


DIV.framed-box-center {
	border: 1px solid #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 3px #CCC;
	-webkit-box-shadow: 2px 2px 3px #CCC;
	box-shadow: 2px 2px 3px #CCC;
	padding: 0 5px 1em 5px;
	margin-bottom: 1em;
	text-align: center;
	margin: 0 -5px .5em -5px;
	color: #000;
}

DIV.bio-frame  {
	position: relative;
	text-align: center;
	font-size: 80%;
	border: 1px solid #dee0ed !important;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 1em 0;
}
DIV.bio-frame > IMG  {
	position: absolute;
	left: 0;
	top: 0;
}
DIV.bio-frame > DIV  {
	margin: 2px 0 0 65px;
	min-height: 60px;
}

.bookmark_popup .popup_title {
	background-color: #008;
}

/*
Styles for Popular Topics page
*/

ul.popular {
	list-style: url(/images/icons/greendot.gif);	
	margin: 10px 20px 10px 10px;
	padding: 0 0 0px 10px;
}
ul.popular li {
	list-style: url(/images/icons/greendot.gif);	
	margin: 10px 20px 10px 10px;
	padding: 0 0 0px 10px;
}

ul.spacing li {
	margin-bottom: .75em;
}
ul.spacing li:last-child {
	margin-bottom: 0em;
}



/*
Styles for Checkmark bulletted list
*/

ul.checkmark {
	list-style: url(/images/icons/chk-icon.png);	
	margin: 10px 20px 10px 10px;
	padding: 0 0 0px 10px;
}
ul.checkmark li {
	list-style: url(/images/icons/chk-icon.png);	
	margin: 10px 20px 10px 10px;
	padding: 0 0 0px 10px;
}


/*
Styles for RSS Feeds
*/
@media print {
	DIV#rss-feed {
		display: none;
	}
}


A.rss-feed {
	background: left center no-repeat url(../images/feed-icon-small.png);
	display: block;
	text-decoration: none;
	padding: .5em 0 .5em 25px;
}

.rss-feed {
	background: left center no-repeat url(../images/feed-icon-small.png);
	display: block;
	text-decoration: none;
	padding: .5em 0 .5em 15px;
}

DIV.feed-shell {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 5px 5px 5px;
	background: #c5caea; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeff5 0%, #c5caea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeff5), color-stop(100%,#c5caea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeff5 0%,#c5caea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeff5 0%,#c5caea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeff5 0%,#c5caea 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeff5 0%,#c5caea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeff5', endColorstr='#c5caea',GradientType=0 ); /* IE6-8 */
	margin: 0 0 5px 0;
	position: relative;
}

DIV.feed-shell > h3 > span {
	background: top left no-repeat url(../images/icons/twitter-badge.png);
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top:2px;
	left:2px;
}
DIV.feed-shell > h3 {
	background: none;
	text-align: left;
	color: #000;
	margin: .2em 0 .2em 50px;
	font-size: 130%;
	font-weight: normal;
}
DIV.feed-shell > h3 > A {
	color: #000 !important;
	background: transparent !important;
	text-decoration: none !important;
}
DIV.feed-shell > DIV.feed-entries {
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	background: transparent;
	border: none;
	color: #000;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0px;
	padding: 25px 2px 5px 6px;
}
DIV.feed-shell > DIV.feed-entries UL {
	margin: 0;
	list-style: none;
	list-style-type: none;
}
DIV.feed-shell > DIV.feed-entries LI:hover, DIV.feed-shell > DIV.feed-entries LI:focus {
	dbackground: #f6f6f6;
}
DIV.feed-shell > DIV.feed-entries LI A {
	display: inline;
	font-weight: bold;
	color: #006;
	background: none;
}
DIV.feed-shell > DIV.feed-entries LI A:hover, DIV.feed-shell > DIV.feed-entries LI A:focus {
	background: none;
	text-decoration: underline;
	color: #009;
}
DIV.feed-shell > DIV.feed-entries LI {
	font-size: 85%;
	margin-bottom: .25em;
	border-bottom: 1px dotted #222;
}
DIV.feed-shell > DIV.feed-entries LI SPAN.rss-feed-date {
	font-size: 85%;
	display: block;
}
DIV.feed-shell > DIV.feed-entries LI SPAN.rss-feed-date A {
	font-weight: normal;
}




FORM.opc-form-style input[type="submit"], FORM.opc-form-style input[type="reset"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 3px #bbb;
	-webkit-box-shadow: 2px 2px 3px #bbb;
	box-shadow: 2px 2px 3px #bbb;
	border: none;
	width: auto;
	padding: .25em 1.5em;
	color: #FFF !important;
}
FORM.opc-form-style input[type="submit"]:hover, FORM.opc-form-style input[type="reset"]:hover {
	-moz-box-shadow: 3px 3px 4px #aaa;
	-webkit-box-shadow: 3px 3px 4px #aaa;
	box-shadow: 3px 3px 4px #aaa;
	color: #FFF !important;
}
/*
IMPORTED FROM OLD CSS
*/


table, table th , table td {
	border: 1px solid #232F84;
}

table {
	border-collapse: collapse;
	margin: 1em 0;
}

table caption {
	margin-top: 1em;
}

table th, table td {
	padding: 2px 5px;
}

table th {
	text-align: center;
}

.alignTopLeft {
text-align: left;
vertical-align: top;
}

.valignTop {
vertical-align: top;
}

table td  ul > li{
	margin-bottom: .5em;
}


div.horizsubnav {padding:10px;margin-bottom:10px}

div.horizsubnav a:link, div.horizsubnav a:active, div.horizsubnav a:visited {color:#232F84;}

div.horizsubnav {color:#232F84;background-color:#E2F3B2}

a.horizsubnav {font-size:11px;font-weight:bold;line-height:1.5}

a.horizsubnav:link {color:#232F84;text-decoration:none}

a.horizsubnav:visited {color:#232F84;text-decoration:none}

a.horizsubnav:hover {color:#1a5f00;text-decoration:underline}

a.horizsubnav:active {color:#232F84;text-decoration:none}

div.rightnav {width:174px;float:right;border-left:1px solid #333399;}

.uparrow-toc {
	float: right;
}



div.icon, div.pdf-version {
	background: left 1px no-repeat url(/images/icon-document.jpg);
	padding: 10px 0px 10px 43px;
	margin:  .25em 0 .25em 0;
	min-height: 40px;
	color:#333399;
	font-size: 85%;
	font-weight:bold;
}

div.icon, div.ebook-version {
	background: left 1px no-repeat url(/images/icon-document.jpg);
	padding: 10px 0px 10px 43px;
	margin:  .25em 0 .25em 0;
	min-height: 40px;
	color:#333399;
	font-size: 85%;
	font-weight:bold;
}

div.icon a:link, div.icon a:visited,
 div.pdf-version a:link, div.pdf-version a:visited {
	text-decoration:none;
	color:#333399;
}
div.icon a:hover, div.icon a:focus,
 div.pdf-version a:hover, div.pdf-version a:focus {
	text-decoration:none;
	color:#0000CC;
}

div.document {background-image: url(/images/icon-document.jpg); }
div.tool {background-image: url(/images/icon-tool.jpg); }
div.faqs {background-image: url(/images/icon-faqs.jpg);}
div.external-links {background-image: url(/images/icon-external-links.jpg); }
div.factsheet {background-image: url(/images/icon-factsheet.jpg); }
div.flash-video {background-image: url(/images/icon-flash-video.jpg); }
div.form {background-image: url(/images/icon-form.jpg); }
div.topic {background-image: url(/images/icon-topic.png); }
div.pdf {background-image: url(/images/icons/icon-pdf2.gif);padding: 15px 0 10px 50px; }
div.pdf-version {background-image: url(/images/icons/icon-pdf2.gif); }
div.ebook {background-image: url(/images/icons/icon-ebook.png);padding: 15px 0 10px 50px; }
div.ebook-version {background-image: url(/images/icons/icon-ebook.png); }
div.comp {background-image: url(/images/icon-comp.jpg); }
a.page-top {background-image: url(/images/uparrow.gif); display: block;width: 19px;height: 12px;float: right; }
a.page-toc {background-image: url(/images/toc.gif); display: block;width: 22px;height: 15px;float: right; }
a.page-toc span, a.page-top span {
	display: block;
	content: ".";
	height: 0px;
	width: 0px;
	clip: rect(1px 1px 1px 1px);
	overflow: hidden; }

/* Enhanced Tree styles  */

/*
body 
	{ font-size:62.5%; margin:20px; }#files 
	{ margin:2em 0 5em; width:400px; }
.tree 
	{ font-size:1.5em; }
.tree,.tree ul,.tree li 
	{ list-style:none; margin:0; padding:0; zoom: 1; }
.tree ul 
	{ margin-left:8px; }
.tree li a 
	{ color:#555; padding:.1em 7px .1em 27px; display:block; text-decoration:none; border:1px dashed #fff; background:url(../images/icon-file.gif) 5px 50% no-repeat; }
.tree li a.tree-parent { background:url(../images/icon-folder-open.gif) 5px 50% no-repeat; }
.tree li a.tree-parent-collapsed { background:url(../images/icon-folder.gif) 5px 50% no-repeat; }
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a
.tree-item-active { color:#000; border:1px solid#eee; background-color:#fafafa; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.tree li a:focus,.tree li a.tree-parent:focus,
.tree li a.tree-item-active { border:1px solid #e2f3fb; background-color:#f2fafd; }
.tree ul.tree-group-collapsed { display:none; } 
*/
/*


div.nl-left p,h1,h2,h3,h4,h5,table{margin-left:10px;margin-right:10px}

div.nl-left h1,h2,h3,h4,h5 {clear:both}

div.nl-left h1 {color:#1B75BB;font-size:15px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl-left h2 {color:#1B75BB;font-size:15px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl-left h3 {color:#232F84;font-size:14px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl-left h4 {color:#000000;font-size:12px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl-left h5 {color:#1B75BB;font-size:12px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl-right p,h1,h2,h3,h4,h5,table{margin-left:10px;margin-right:10px}

div.nl-right h1,h2,h3,h4,h5 {clear:both}

div.nl-right h1 {color:#1B75BB;font-size:15px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl-right h2 {color:#1B75BB;font-size:15px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl-right h3 {color:#232F84;font-size:14px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl-right h4 {color:#000000;font-size:12px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl-right h5 {color:#1B75BB;font-size:12px;font-family:Verdana, sans serif;font-weight:bold;}

div.nl a:link {color:#232F84;text-decoration:none}

div.nl a:visited {color:#1B75BB;text-decoration:none}

div.nl a:hover {color:#F05A28;text-decoration:underline}

div.nl a:active {color:#232F84;text-decoration:none}

*/

/*p.pull {float:right; width:18em; display:block; background-color: #8DC63F;
	margin-left:10px;
	color: #000;
	border: 1px solid #8DC63F;
	padding:10px}
*/

p.pull {
	float:right; width:18em; display:block;
	margin: .5em 0;
	padding: 0 .5em .5em .5em;
	border-style: solid;
	border-color: #999;
	border-width: 1px 1px 1px 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #E5E5E5; /* Old browsers */
	background: -moz-linear-gradient(top,  #F0F0F0 0%, #E5E5E5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#E5E5E5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* IE10+ */
	background: linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#dee0ed',GradientType=0 ); /* IE6-8 */
	color: #232F84;
}

p.pull_white {
	float:right;
	width:18em;
	display:block;
	background-color: #FFF;
	color: #000;
	border: 1px solid #999;;
	padding:10px
}

div.framed-box_right {
	float:right; width:18em; display:block;
	border: 1px solid #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 3px #CCC;
	-webkit-box-shadow: 2px 2px 3px #CCC;
	box-shadow: 2px 2px 3px #CCC;
	padding: 0 5px 1em 5px;
	margin-bottom: 1em;
}

div.pull_white_340 {
	float:right;
	width:340px;
	display:block;
	background-color: #FFF;
	color: #000;
	border: 1px solid #999;;
	padding:10px
}


p.pull_black {
	float:right;
	width:18em;
	display:block;
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
	padding:10px;
}

p.pull_black a:link {color:#FFF;text-decoration:none !important;}
p.pull_black a:visited {color:#FFF;text-decoration:none !important;}
p.pull_black a:hover {color:#C3122F;text-decoration:underline !important;}
p.pull_black a:active {color:#FFF;text-decoration:none !important;}

div.box-white-right {
	float:right;
	width:18em;
	color: #000;
	margin: .5em 0;
	padding: 0 .5em .5em .5em;
	border-style: solid;
	border-color: #999;
	border-width: 1px 1px 1px 1px;}
	
div.box-white-left {
	float:left;
	width:18em;
	color: #000;
	margin: .5em 0;
	padding: 0 .5em .5em .5em;
	}
	
div.box-white-right-nb {
	float:right;
	width:18em;
	color: #000;
	margin: .5em 0;
	padding: 0 .5em .5em .5em;
	}		


div.pull {
	float:right; width:18em; display:block;
	margin: .5em 0;
	padding: 0 .5em .5em .5em;
	border-style: solid;
	border-color: #999;
	border-width: 1px 1px 1px 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #E5E5E5; /* Old browsers */
	background: -moz-linear-gradient(top,  #F0F0F0 0%, #E5E5E5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#E5E5E5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* IE10+ */
	background: linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#dee0ed',GradientType=0 ); /* IE6-8 */
	color: #232F84;
}

/*div.box created by Marsworks (Grey background, white text, center, rounded corner */

div.rounded-rect-center {
	margin: 0 auto;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: #707070;
	color: white;
	border: 5px solid #fff;
	padding: 0 10px 1em 10px;
	-moz-box-shadow: 4px 4px 4px #CCC;
	-webkit-box-shadow: 4px 4px 4px #CCC;
	box-shadow: 4px 4px 4px #CCC;
	text-align: center;
	width: 50%;
}



/*div.box {
	background-color: #e5f6fd;
	color: #000;
	border: 1px solid #8bb9d7;
	padding:10px;
	margin-bottom: 20px;
}*/


div.box ul > li {
	margin-bottom: 1em;
}

div.box {
	margin: .5em 0;
	padding: 5px 20px 5px 20px;
	border-style: solid;
	border-color: #999;
	border-width: 1px 1px 1px 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #E5E5E5; /* Old browsers */
	background: -moz-linear-gradient(top,  #F0F0F0 0%, #E5E5E5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#E5E5E5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* IE10+ */
	background: linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* W3C */
	delete-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#dee0ed',GradientType=0 ); /* IE6-8 */
	color: #232F84;
}

div.box-purple {
	margin: .5em 0;
	padding: .5em;
	border-style: solid;
	border-color: #6C217F;
	border-width: 1px 1px 1px 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #E5E5E5; /* Old browsers */
	background: -moz-linear-gradient(top,  #F0F0F0 0%, #E5E5E5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#E5E5E5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* IE10+ */
	background: linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* W3C */
	delete-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#dee0ed',GradientType=0 ); /* IE6-8 */
	color: #6C217F;
}

div.box_black {
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
	padding: 5px 20px 5px 20px;
}

div.box_purple {
	background-color: #6C217F;
	color: #fff;
	border: 1px solid #000;
	padding:5px;
}


/*.box_purple a:link {color: #000; !important;}
.box_purple a:visited {color: #000; !important;}
*/	

/*div.box_ar_right {
	clear: right;
	float:right;
	width:18em;
	display:block;
	background-color: #f1fadd; 
	margin-left:5px;
	color: #000;
	border: 1px solid #8DC63F;
	padding:5px}
*/

div.box_ar_right{
	float:right; width:18em; display:block;
	margin: .5em 0;
	padding: 0 .5em .5em .5em;
	border-style: solid;
	border-color: #999;
	border-width: 1px 1px 1px 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #E5E5E5; /* Old browsers */
	background: -moz-linear-gradient(top,  #F0F0F0 0%, #E5E5E5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#E5E5E5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* IE10+ */
	background: linear-gradient(top,  #F0F0F0 0%,#dee0ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#dee0ed',GradientType=0 ); /* IE6-8 */
	color: #232F84;
}
	
div.box_ar {
	float: none;
	width:auto;
	display:block;
	background-color: #f1fadd;
	color: #000;
	border: 1px solid #8DC63F;
	padding:5px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:10px;
}
	
div.box_ar_indent {
	background-color: #f1fadd;
	color: #000;
	border: 1px solid #8DC63F;
	padding:5px;
	margin: 10px 10px 10px 35px;
}

p.indent {
	margin-left: 15px;
}
	
div.box_ar_leg {
	background-color: #232F84;
	color: #FFF;
	padding:5px
}

ol.toc {
	list-style: none outside none;
	padding-left: 5px;
}
ul.toc {
	list-style: none outside none;
	padding-left: 5px;
}
ol.toc ol, ol.toc li { list-style: none outside none; }

ol.alpha, ol.alpha li { list-style-type: lower-alpha; }

ol.lower-roman, ol.lower-roman li { 
	list-style-type: lower-roman;
	margin-bottom: 1em;
}

td.green { background-color: rgb(154, 184, 33); color: #000; } /* http://priv.gc.ca/resource/cp/eval_rep_2009_e.cfm */

/* CSS for 2 column boxes (instead of using table to display signature blocks for example) */

div.box2Col {
	overflow: auto;
}
div.box2Col > div.col {
	float: left;
	width: 48%;
	padding-left: 1%;
}
div.box2Col.auto > div.col {
	float: left;
	width: auto;
	padding-left: 1%;
}


div.box3Col {
	overflow: auto;
}
div.box3Col > div.col {
	float: left;
	width: 32%;
	padding-left: 1%;
}
div.box3Col.auto > div.col {
	float: left;
	width: auto;
	padding-left: 1%;
}



div.box2ColMedia {
	overflow: auto;
}
div.box2ColMedia > div.cola {
	float: left;
	width: 23%;
	padding-left: 1%;
}
div.box2ColMedia > div.colb {
	float: left;
	width: 75%;
	padding-left: 1%;
}
div.box2ColMedia.auto > div.col {
	float: left;
	width: auto;
	padding-left: 1%;
}


div.box2ColMedia-2 {
	overflow: auto;
}
div.box2ColMedia-2 > div.cola {
	float: left;
	width: 14%;
	padding-left: 1%;
}
div.box2ColMedia-2 > div.colb {
	float: left;
	width: 84%;
	padding-left: 1%;
}
div.box2ColMedia-2.auto > div.col {
	float: left;
	width: auto;
	padding-left: 1%;
}


FIELDSET {
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	background: #fff;
	box-shadow: 2px 2px 10px #ccc;
	margin: .5em 0;
}

INPUT.missing-required {
	background-color: #fba;
}

/*divtable th{background:#F1FADD;border:1px solid #DEF1A2;}

/* CSS for online complaint form boxes */

.formtype {
	width:42%;
	margin: 0 5px;
	background-color: #6069AC;
	float:left;
	margin-bottom: 5px;
	padding: 10px;

}

.formtype_pa {
	width:42%;
	margin: 0 5px;
	background-color: #C0D4C0;
	float:left;
	margin-bottom: 5px;
	padding: 10px;

}

.formtype_pipeda {
	width:42%;
	margin: 0 5px;
	background-color: #C0BFDC;
	float:left;
	margin-bottom: 5px;
	padding: 10px;

}

.formtype strong {
		font-size: 20px;
		display: block;
		text-align:center;
		margin-bottom: 10px;
	}

.formtype_pa strong {
		font-size: 20px;
		display: block;
		text-align:center;
		margin-bottom: 10px;
	}

.formtype_pipeda strong {
		font-size: 20px;
		display: block;
		text-align:center;
		margin-bottom: 10px;
	}



.formtype p.instructions
	{
		font-size: 11px;
		color: #777;


		text-align: justify;
	}
.formtype a:hover p.instructions


		{
			color: #000;
		}
 

.formtype_jason

{
	width:38%;
	margin: 0 5%;


	float:left;
	margin-bottom: 20px;
}


.formtype a


	{
		display: block;
		padding: 10px;
		text-decoration: underline;



		background-color: #6069AC;
		background:-webkit-gradient(linear, 0 0, 0 100%,from(#EBEFFF), color-stop(.7,#EBEFFF), to(#EBEFFF));


		-moz-linear-gradient:19% 75% 90deg,#ababab, #c9c9c9, #c7c7c7 100%;


		
		-webkit-border-radius: .5em;
		-moz-border-radius: .5em;
		border-radius: .5em;


		
		-webkit-box-shadow: 3px 3px 3px #ddd;
		-moz-box-shadow: 3px 3px 3px #ddd;


		box-shadow: 3px 3px 3px #ddd;
	}
.formtype a:hover


		{
			background-color: #6069AC;
			background:-webkit-gradient(linear, 0 0, 0 100%,from(#eee), color-stop(.7,#EBEFFF), to(#EEEEEE));


		}


div.formtype a:link {color:#000;text-decoration: underline;}
div.formtype a:visited {color:#000;text-decoration: underline;}
div.formtype a:hover {color:#F78F1E;text-decoration: underline;}



.commentary 
{
	font-style: italic;


}
.commentary p
	{
		margin-left: 40px;
	}



/* GENERAL CSS ENDS | FIN DU CSS GENERAL */
@media print {
	table {
		font-size: 90% !important;
	}

}
@page {
    margin: .5in;
}



/* GENERIC UTILITY CSS BEGINS | DEBUT DU CSS D'UTILITE GENERIQUE */
.widthFull {
	width: 98.5%;
}
.width95 {
	width: 95%;
}
.width90 {
	width: 90%;
}
.width85 {
	width: 85%;
}
.width80 {
	width: 80%;
}
.width75 {
	width: 75%;
}
.width70 {
	width: 70%;
}
.width65 {
	width: 65%;
}
.width60 {
	width: 60%;
}
.width55 {
	width: 55%;
}
.width50 {
	width: 50%;
}
.width45 {
	width: 45%;
}
.width40 {
	width: 40%;
}
.width35 {
	width: 35%;
}
.width30 {
	width: 30%;
}
.width25 {
	width: 25%;
}
.width20 {
	width: 20%;
}
.width15 {
	width: 15%;
}
.width10 {
	width: 10%;
}
.width5 {
	width: 5%;
}


/* GENERIC BORDERS FOR DPR/RPP FINACIAL TABLES */
.rppHeader, .dprHeader {
	background-color: #cc9;
	border-top: solid 1px #000;
	border-bottom: double 3px #000;
}
.borderCollapse th { border: solid 1px #000; font-weight: bold; padding: 3px; }
.rpp th, .dpr th { background-color: #eee; border: solid 1px #000; font-weight: bold; padding: 3px; }
.rpp td, .dpr td, .borderCollapse td { border: 1px solid #000; padding: 3px; }
.borderLeftThin { border-left: solid 1px #000; }
table.rpp, table.dpr, table.borderCollapse { border: 1px solid #000; border-collapse: collapse; padding: 3px; }
.borderRightThin { border-right: solid 1px #000; }
.borderTopThin { border-top: solid 1px #000; }
.borderTopThick { border-top: solid 2px #000; }
.borderTopDouble { border-top: double 3px #000; }
.borderBottomThin { border-Bottom: solid 1px #000; }
.borderBottomThick { border-Bottom: solid 2px #000; }
.borderBottomDouble { border-Bottom: double 3px #000; }
.borderSimple { border: solid 1px #000; }
div.borderSimple { padding: 3px; }
.darkgreyBG { background-color: #555; color: #fff; }
.darkpurpleBG { background-color: #8a5c9c; color: #fff; }
.darkgreyBG acronym { color: white; }
caption.darkgreyBG { padding: 3px; }
caption.darkgreyBG a:link, caption.darkgreyBG a:visited { color: #ee3; }
.width33 { width: 33%; }
.width34 { width: 34%; }
.width100 { width: 100%; }
.fontSizeNormal { font-weight: normal;}
table.noBorders { border-collapse: collapse; padding: 3px; }
table.noBorders th { font-weight: normal; padding: 3px; }
table.noBorders td { padding: 3px; }
/* END GENERIC BORDERS */


/* RPP and DPR styles */
.lightgreyBG {	background-color: #EEE; }
.borderLeftThin { border-left: solid 1px #000 !important; }
.borderRightThin { border-right: solid 1px #000 !important; }
.borderTopThin { border-top: solid 1px #000 !important; }
.borderTopThick { border-top: solid 2px #000 !important; }
.borderTopDouble { border-top: double 3px #000 !important; }
.borderBottomThin { border-bottom: solid 1px #000 !important; }
.borderBottomThick { border-bottom: solid 2px #000 !important; }
.borderBottomDouble { border-bottom: double 3px #000 !important; }
.borderSimple { border: solid 1px #000 !important; }

table.rpp th, table.dpr th { background-color: #eee; font-weight: bold; }
.width33 { width: 33%; }
.width34 { width: 34%; }
.darkgreyBG { background-color: #666; color: #fff; }
.fontSizeNormal { font-weight: normal;} 




table.no-border, table.no-border TH, table.no-border TD { border: none }
table.striped { border-color: #8DC63F; margin-left:10px }
table.striped tbody tr { background: #f1fadd; }
table.striped tbody tr.odd { background: #def1a2; }  /*the "safe" way, using JS enhancement */
/*table.striped tbody tr:nth-child(odd) { background: #def1a2; }  the "cool" way, using advanced CSS selectors */
table.striped tbody td { border-width: 1px; }

SUP { line-height: .5em; margin-top: 0em !important; }
