﻿@charset "utf-8";
/*!
 * Tabbed interface v1.3 / Interface à onglets v1.3
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */

/* All tabs CSS */
.tabs{border-bottom:solid 1px #ccc;margin:0;padding:0;position:relative;}
.tabs li{display:inline-block;border:solid 1px #ccc;border-bottom:none;-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;}
.tabs li a{display:block;text-decoration:none;color:#333;background:#eee url(gradient.png) repeat-x 0 0;font-weight:400;border-top:1px solid #fff;padding:4px;position:relative;}
.tabs li.active{background:#fff;position:relative;top:1px;border:solid 1px #cccc;border-bottom:none;}
.tabs li a.active,.tabs li a.active:hover,.tabs li a.active:focus{color:#333;padding-top:5px;background:#fff;cursor:text;}
.tabs-panel{border:solid 1px #ccc;border-top:none;padding:10px;}
.tabs-panel > div {display:none;}
.tabs-panel > div.active{display:block;}
.tabs-panel a:hover,.tabs-panel a:focus,.tabs-panel a:active{background:#fff!important;color:#c00!important;}
.tabs-panel h2,.tabs-panel h3,.tabs-panel h4,.tabs-panel h5,.tabs-panel h6{border:none;}
.tabs-panel .float-right {margin-left:10px;}
.tabs-panel .float-left {margin-right:10px;}
.clear{clear:both;display:block;height:0 !important;margin:0;min-height:0 !important;overflow:hidden;visibility:hidden;width:0;}
.tabs-roller {height:100%;width:0;position:absolute;top:0;left:0;cursor:text;background-color:#000;opacity:0.1;filter:alpha(opacity=10);}

/* style 1 */
.tabs-style-1{border:solid 1px #ccc;padding:2px;}
.tabs-style-1 .tabs{background:#eee url(gradient.png) repeat-x 0 0;border:1px solid silver;color:#222;font-weight:700;padding:2px 2px 0;}
.tabs-style-1 .tabs li a{background:#555 url(gradient2.png) repeat-x  0 bottom;border-top:none;color:#fff;padding:2px 4px 3px;}
.tabs-style-1 .tabs li a:hover, .tabs-style-1 .tabs li a:focus, .tabs-style-1 .tabs li a:active{background:#eee url(gradient.png);color:#000;border-top:1px solid #fff;padding-top:1px;}
.tabs-style-1 .tabs li a.active,.tabs-style-1 .tabs li a.active:hover{color:#000;background:#fff;border-top:none;padding:4px;}
.tabs-style-1 .tabs-panel{border:none;}
.embedded-grid,.embedded-grid .tabs-panel{border:none;padding:0;}
.tabs-style-1  .tabs-toggle a.tabs-stop,.tabs-style-1 .tabs-toggle a.tabs-start{background-repeat:no-repeat;background-position:-1px 0;color:#000; border: 1px solid #999;}
.tabs-style-1 .tabs-toggle a:active.tabs-stop,.tabs-style-3 .tabs-toggle a:active.tabs-start,.tabs-style-1 .tabs-toggle a:hover.tabs-stop,.tabs-style-1 .tabs-toggle a:hover.tabs-start{background-repeat:no-repeat;background-position:-1px 0;color:#c00;padding-top:2px;border: 1px solid #999;}


/* style 2 */
.tabs-style-2{border:0;padding:0;position:relative;z-index:1;margin:0;}
.tabs-style-2 .tabs{border:none;background:#eee;opacity:0.95;min-height:24px;position:absolute;width:100%;z-index:2;padding-top:2px;margin-top:0;bottom:0;left:0;}
.tabs-style-2 .tabs li{border:none;margin-right:2px;background:#00556b;opacity:1;filter:alpha(opacity=100);-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius:2px; width:auto;float:left;}
.tabs-style-2 .tabs li.active{border:none;top:auto;color:#fff;}
.tabs-style-2 .tabs li a{border:1px solid #999;padding:2px 5px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius:2px;}
.tabs-style-2 .tabs li a.active,.tabs-style-2 .tabs li a:hover, .tabs-style-2 .tabs li a:focus, .tabs-style-2 .tabs li a:active{padding-top:2px;border-bottom-width:0;background:#333;color:#fff;}
.tabs-style-2 .tabs-panel{border:none;min-height:220px;background:url(gradient3.png) repeat-x 0 bottom #555;color:#fff;margin:0;padding:0;}
.tabs-style-2 .tabs-panel a,.tabs-style-2 .tabs-panel a:visited{color:#fff;}
.tabs-style-2  li.tabs-toggle a:focus,.tabs-style-2  li.tabs-toggle a:active,.tabs-style-2  li.tabs-toggle a:hover{border-bottom-width:1px;text-decoration:underline !important;color:#c00;}
.embedded-grid,.embedded-grid .tabs-panel{border:none;padding:0;}
.tabs-style-2 .tabs-content-pad{padding:10px 10px 36px;}
.tabs-style-2 .tabs-roller{background-color:#fff;opacity:0.25;filter:alpha(opacity=25);}
.tabs-style-2 .tabs-toggle a.tabs-stop,.tabs-style-2 .tabs-toggle a.tabs-start {position:static;background-color:#eee!important;}

/* style 3 */
.tabs-style-3{position:relative;z-index:1;border:1px solid #ccc;margin:0;min-height:220px;padding:10px 0 10px 10px;-moz-border-radius:5px;-webkit-border-radius:3px;border-radius:3px;}
.tabs-style-3 .tabs{width:35%;position:absolute;z-index:3;border:none;margin:20px 0 0;right:0;}
.tabs-style-3 .tabs li{border:none;margin:0;width:100%;}
.tabs-style-3 .tabs li.active{border:none;color:#fff;}
.tabs-style-3 .tabs li a{display:block;border:none;text-decoration:none;background:transparent;padding:5px 5px 5px 25px;}
.tabs-style-3 .tabs li a:hover{text-decoration:underline;}
.tabs-style-3 .tabs li a.active,.tabs-style-3 .tabs li a:hover{background:#000;color:#fff;margin-right:0;padding:5px 5px 5px 25px;opacity:0.75;filter:alpha(opacity=75);-moz-border-radius: 3px 0 0 3px;-webkit-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;text-decoration:none;}
.tabs-style-3 .tabs-panel{width:66%;z-index:1;border:none;background:#eee url(gradient.png) repeat-x 0 bottom;color:#333;margin:0;padding:0;min-height:220px;z-index:2;border:1px solid #ccc;}
.tabs-style-3  li.tabs-toggle a:focus,.tabs-style-3  li.tabs-toggle a:active,.tabs-style-3  li.tabs-toggle a:hover{margin-right:2px;padding:2px 5px 2px 24px;opacity:1;filter:alpha(opacity=100);}
.tabs-style-3 .tabs-content-pad{padding:10px;}
.tabs-style-3 .tabs-roller{background-color:white;opacity:0.2;filter:alpha(opacity=20);-moz-border-radius: 3px 0 0 3px;-webkit-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;}
.tabs-style-3 .tabs-toggle a.tabs-stop,.tabs-style-3 .tabs-toggle a.tabs-start{float:right;position:static;margin-right:2px;margin-top:10px;border:1px solid #999;background-repeat:no-repeat;background-position:-1px 0;}


/* style 4 */
.tabs-style-4{padding:0;}
.tabs-style-4 .tabs {font-weight:700;margin-bottom:2px;padding:0 0 1px 0;height:auto!important;border:none;}
.tabs-style-4 .tabs li {display:block;}
.tabs-style-4 .tabs li.tabs-toggle {display:inline-block;}
.tabs-style-4 .tabs li a {background:url(gradient2-style4.png) repeat-x scroll 50% 50% #000;border-top:1px solid #000000;color:#FFF;font-size:80%;margin:0;padding:2px;}
.tabs-style-4 .tabs li a:hover, .tabs-style-4 .tabs li a:focus, .tabs-style-4 .tabs li a:active   {background:url(gradient.png) repeat scroll 0 0 #EEE;color:#000;}
.tabs-style-4 .tabs li a.active,.tabs-style-4 .tabs li a.active:hover {background:none repeat scroll 0 0 #FFF;border:none;color:#000 !important;padding-top:2px;}
.tabs-style-4 .tabs-panel {border:none;margin:0;padding:0;}
.tabs-style-4 .tabs-panel img{display:block;}
.tabs-style-4 a.tabs-stop,.tabs-style-4 a.tabs-start{width:auto!important;background-repeat:no-repeat!important;background-position:0 0!important;color:#000!important;position:relative!important;top:1px!important;bottom:auto!important;left:0!important;right:auto!important;border-top:1px solid #999!important;}
.cn-right-col-default .tabs-style-4{padding:0;}
.cn-right-col-default .tabs-style-4 .tabs{margin-left:-1px;padding:0;}
.cn-right-col-default .tabs-style-4 .tabs li{padding-left:0;margin-left:0;}
.cn-right-col-default .tabs-style-4 li a:visited{color:#FFF;}
.cn-right-col-default .tabs-style-4 .tabs a.active,.cn-right-col-default .tabs-style-4 li a.active:hover{color:#000!important;}
.cn-right-col-default .tabs-style-4 .tabs-toggle{margin-left:2px!important;}

/* style 5 */
.tabs-style-5{padding:0;}
.tabs-style-5 .tabs{border:none;}
.tabs-style-5 .tabs li{display:none!important;}
.tabs-style-5 .tabs li a{display:none!important;}
.tabs-style-5 .tabs li.tabs-toggle{display:inline-block!important;}
.tabs-style-5 .tabs li.tabs-toggle a{display:block!important;font-size:80%;margin-bottom:1px;}
.tabs-style-5 .tabs-panel{border:none;margin:0;padding:0;}
.tabs-style-5 .tabs-panel img{display:block;}
.tabs-style-5 a.tabs-stop,.tabs-style-5 a.tabs-start{width:auto!important;background-repeat:no-repeat!important;background-position:0 0!important;color:#000!important;position:relative!important;top:1px!important;bottom:auto!important;left:0!important;right:auto!important;}
.cn-right-col-default .tabs-style-5{padding:0;}
.cn-right-col-default .tabs-style-5 .tabs{margin-bottom:1px;}
.cn-right-col-default .tabs-style-5 .tabs-toggle{margin-left:9px!important;}

/* style 6 */
.tabs-style-6{height:300px;overflow:hidden;position:relative;width:960px;}
.tabs-style-6 .tabs{height:300px;left:0;right:inherit;top:0;overflow:hidden;position:absolute;z-index:100;width:320px;border:none;}
.tabs-style-6 .tabs li{height:100px;background:#226B8E;display:block;border:none;width:230px;}
.tabs-style-6 .tabs li.active{background:transparent url(arrow-bg.png) no-repeat scroll right center;margin-right:0;top:0;width:250px;}
.tabs-style-6 .tabs li.active a{margin-right:20px;}
.tabs-style-6 .tabs li a{color:#fff;display:block;border:none;text-decoration:none;background:transparent;height:89px;padding:5px 10px;border-bottom:1px solid #ccc;}
.tabs-style-6 .tabs li a:hover{text-decoration:underline;}
.tabs-style-6 .tabs li a.active,.tabs-style-6 .tabs li a:active,.tabs-style-6 .tabs li a:hover,.tabs-style-6 .tabs li a:focus{text-decoration:none;color:#fff;background:transparent url(grad-bg.gif) repeat scroll 0 0;}
.tabs-style-6 .tabs-panel{height:100%;overflow:hidden;width:730px;float:right;margin:0;padding:0;border:none;}
.tabs-style-6 .tabs-panel .active{position:relative;border:none;}
.tabs-style-6 .tabs-roller{background-color:#FFF;opacity:0.1px;filter:alpha(opacity=10);right:20px;}
.tabs-style-6 .tabs-toggle a.tabs-stop,.tabs-style-6 .tabs-toggle a.tabs-start{float:right;position:static;margin-right:2px;margin-top:10px;border:1px solid #999;background-repeat:no-repeat;background-position:-1px 0;background-color:#eee !important;color:#555;}
.tabs-style-6 img{width:730px;margin:0;padding:0;}
.tabs-style-6 .tabs-content-pad{position:absolute;top:10px;right:10px;width:220px;background:#333;height:280px;opacity:0.95;filter:alpha(opacity=95);color:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.tabs-style-6 .tabs-content-pad a,.tabs-style-6 .tabs-content-pad a:visited,.tabs-style-6 .tabs-content-pad a:hover{color:#fff;}
.tabs-style-6 li.tabs-.tabs-style-6 li.tabs-toggle a:focus,.tabs-style-6 li.tabs-toggle a:active,.tabs-style-6 li.tabs-toggle a:hover{margin-right:0;opacity:1;filter:alpha(opacity=100);padding:2px 5px 2px 24px;}
.tabs-style-6 .tabs li.tabs-toggle{position:absolute;bottom:10px;left:240px;height:auto;width:auto;border:none;background-color:transparent;}
.tabs-style-6 .tabs li.tabs-toggle a{height:auto;margin:0;min-width:48px;text-align:center;}
.tabs-style-6 .tabs-toggle a:active,.tabs-style-6 .tabs-toggle a:focus{background-repeat:no-repeat !important;background-position:-1px 0 !important;}

/* style 7  For use with the Multimedia Player*/
.tabs-style-7 {height:250px;overflow:hidden;position:relative;width:960px;background:#fff;}
.tabs-style-7 .tabs{height:249px;left:0;right:inherit;top:0;overflow:hidden;position:absolute;z-index:100;width:228px;border:1px solid #ccc; border-top:none }
.tabs-style-7 .tabs span{display:none !important; }
.tabs-style-7 .tabs li{background:transparent;display:block;border:none;width:228px; }
.tabs-style-7 .tabs li.active{margin-right:0;top:0;background:#222;}
.tabs-style-7 .tabs li.active span{display:block!important; font-weight: normal;padding:3px;}
.tabs-style-7 .tabs li a{ font-size: 95%; color:#222 !important; text-decoration: none !important; display:block; border:none;text-decoration:none;background:transparent;padding:5px 10px;}
.tabs-style-7 .tabs li a span { display: block; padding-top: 2px; font-size: 95% }
.tabs-style-7 .tabs li a.tabs-stop, .tabs-style-7 .tabs li a.tabs-start { color: #333 !important}
.tabs-style-7 .tabs li a.active,.tabs-style-7 .tabs li a:active{text-decoration:none;color:#000; font-weight: 900; background:#eee;}
.tabs-style-7 .tabs li a:hover,.tabs-style-7 .tabs li a:focus{text-decoration:underline;color:#000;background:#ddd;}
.tabs-style-7 .tabs-panel{overflow:hidden;width:730px;float:right;margin:0;padding:0;border:none; }
.tabs-style-7 .tabs-panel .active{border:none;}
.tabs-style-7 .tabs-roller{background-color:transparent;border-bottom: 2px solid #000;top:auto;bottom:0;opacity:0.1;filter:alpha(opacity=10);} /** we now style a border to give a small subtle line effect**/
.tabs-style-7 .tabs-toggle a.tabs-stop,.tabs-style-7 .tabs-toggle a.tabs-start{position:static;margin-right:2px;margin-top:10px;border:1px solid #999;background-repeat:no-repeat;background-position:-1px 0;background-color:#eee !important;}
.tabs-style-7 img{width:730px;height:250px; margin:0;padding:0;float:right;}
.tabs-style-7 .tabs-content-pad{position:absolute;bottom:0px;right:0px;width:715px;background:#111;opacity:0.9;filter:alpha(opacity=90);color:#fff; padding-right: 10px; padding-left: 5px; padding-bottom: 5px; padding-top: 5px;}
.tabs-style-7 .tabs-content-pad a,.tabs-style-7 .tabs-content-pad a:visited,.tabs-style-7 .tabs-content-pad a:hover{color:#fff;}
.tabs-style-7 .tabs-content-pad p{ margin:0 0 0 10px; padding: 0; }
.tabs-style-7 li.tabs-toggle a,.tabs-style-7 li.tabs-toggle a:focus,.tabs-style-7 li.tabs-toggle a:active,.tabs-style-7 li.tabs-toggle a:hover{margin-right:0;opacity:1;filter:alpha(opacity=100);padding:2px 5px 2px 24px;}
.tabs-style-7 .tabs li.tabs-toggle{position:absolute;bottom:10px;left:10px;height:auto;width:auto;border:none;background-color:transparent;}
.tabs-style-7 .tabs li.tabs-toggle a{height:auto;margin:0;min-width:48px;text-align:center; }
.tabs-style-7 .tabs-toggle a:active,.tabs-style-7 .tabs-toggle a:focus{background-repeat:no-repeat !important;background-position:-1px 0 !important;}
.tabs-style-7 .tabs-panel a:hover,.tabs-style-7 .tabs-panel a:focus,.tabs-style-7 .tabs-panel a:active{color: #295376 !important;}

/*** 1200px ***/
@media only screen and (min-width:1200px) {
.tabs-style-7{width:1200px;}
.tabs-style-7 .tabs-panel,.tabs-style-7 img{width:890px;height:auto;margin-top:-10px;}
.tabs-style-7 .tabs-content-pad{width:875px;}
.tabs-style-7 .tabs,.tabs-style-7 .tabs li{width:308px;}
}

/*** 768px ***/
@media only screen and (max-width:959px) {
.tabs-style-7{width:768px;}
.tabs-style-7 .tabs-panel,.tabs-style-7 img{width:538px;height:auto;background:#111;}
.tabs-style-7 .tabs-content-pad{width:523px;}

}


/*pause and play effect*/
.tabs .tabs-toggle {border:none;background:none;}
.tabs li.tabs-toggle a{padding:2px 5px 2px 24px;cursor:pointer;}
.tabs li.tabs-toggle a:hover,.tabs li.tabs-toggle a:focus,.tabs li.tabs-toggle a:active{text-decoration:underline;color:#c00;}
.tabs-toggle a.tabs-stop,.tabs-toggle a.tabs-start{background-position:-1px 0;background-repeat:no-repeat;padding-left:24px;background-color:#fff!important;position:absolute;bottom:2px;right:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border:1px solid #999;}
.tabs-toggle a.tabs-stop{background-image:url(pause.png)!important;background-repeat:no-repeat!important}
.tabs-toggle a.tabs-start{background-image:url(play.png)!important;background-repeat:no-repeat!important}
.tabs li.tabs-toggle a:hover{background-repeat:no-repeat;background-position:-1px 0;}

/*with grids*/
.embedded-grid,.embedded-grid .tabs-panel{border:none;padding:0;}
.embedded-grid .tabs{margin:0 10px 10px;}
.span-1 .tabs,.span-2 .tabs,.span-3 .tabs,.span-4 .tabs,.span-5 .tabs,.span-6 .tabs,.span-7 .tabs,.span-8 .tabs,.span-9 .tabs,.span-10 .tabs,.span-11 .tabs,.span-12 .tabs{margin:0;}