.tutorial-delete
{
	position:relative;
	display:block;
	width:300px;
	height:20px;
	border:thin solid #000000;
	margin-top:20px;
	margin-left:5px;
	margin-bottom:-20px;
	overflow: hidden;
	text-decoration:none;
	color:black;
	background-color:#EE0000;
}

.tutorial-delete:hover
{
	background-color:#AA0000;
	cursor:pointer;
}

.tutorial-edit
{
	position:relative;
	display:block;
	width:300px;
	height:20px;
	border:thin solid #000000;
	margin-left:5px;
	top:-20px;
	overflow: hidden;
	text-decoration:none;
	color:black;
	background-color:#79BBFF;
}

.tutorial-edit:hover
{
	background-color:#4197EE;
	cursor:pointer;
}

.my-tutorial
{
	width:340px;
	display:block;
	float:left;
}