.tutorial
{
	position:relative;
	float:left;
	display:block;
	width:300px;
	height:128px;
	border:thin solid #000000;
	margin:20px 5px;
	overflow: hidden;
	text-decoration:none;
	color:black;
}

.tutorial-info
{
	width:172px;
	height:100%;
	float:left;
}

.tutorial:hover
{
	background-color:#9A999A;
	cursor:pointer;
}

.tutorial-title
{
	font-size:21px;
	word-wrap:break-word;
	text-align:center;
	background-color:#EEEEEE;
	text-decoration:none;
	color:black;
}

.link-title
{
	text-decoration:none;
	color:black;
}

.tutorial-author
{
	position:absolute;
	width:100%;
	cursor:auto;
	background-color:#EEEEEE;
	bottom:0px;
	text-align:left;
}

.tutorial-image
{
	width:128px;
	height:100%;
	float:left;
}

.author-options
{
	background-color:#FFFFFF;
	border-bottom-style: solid;
	border-bottom-color: #BBBBBB;
	border-bottom-width: thin;
	margin:0px;
}

.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(200, 200, 200) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(200, 200, 200, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99EEEEEE, endColorstr=#99EEEEEE);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99EEEEEE, endColorstr=#99EEEEEE)";
}

.legend
{
	padding:10px;
	background-color:#D8D8E0;
	border:solid thin #A3D0E0;
	text-align:center;
	overflow:hidden;
	width:232px;
	margin:0 auto;
	box-shadow: 10px 10px 5px #888888;
	margin-bottom:10px;
}

.legend-item
{
	width:220px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	margin:0px;
	text-align:left;
	background-color:#8E98A9;
	text-decoration:none;
	color:#000000;
	border:thin solid black;
	display:block;
}

.legend-item:hover
{
	background-color:#7E88B9;
	cursor:pointer;
}

.legend-item-child
{
	width:200px;
	position:relative;
	left:20px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	margin:0px;
	background-color:#ACC8C7;
	text-decoration:none;
	text-align:left;
	color:#000000;
	border:thin solid black;
	display:block;
}

.legend-item-child:hover
{
	background-color:#869D9A;
	cursor:pointer;
}

.selected-item
{
	background-color:#2E4034;
	color:#EEEEEE;
}
.selected-item:hover
{
	background-color:#2E4034;
	color:#EEEEEE;
	cursor:auto;
}

.selected-item-child
{
	background-color:#2E4034;
	color:#EEEEEE;
}
.selected-item-child:hover
{
	background-color:#2E4034;
	color:#EEEEEE;
	cursor:auto;
}

.left-column
{
	width:290px;
	margin-right:6px;
	float:left;
	overflow:auto;
}

/*Tutorial info classes*/
.tut_info
{
	width:232px;
	height:180px;
	margin:0px auto;
	margin-top:10px;
	border:solid thin #C3C3CA;
	border-top-right-radius:25px;
	border-top-left-radius:25px;
	background-color:#E4F4FA;
	overflow:auto;
	box-shadow: 10px 10px 5px #888888;
}

.profile
{
	width:220px;
	height:55px;
	padding:6px;
}

.small_text
{
	font-size:12px;
}

.profile_info
{
	float:right;
}

.stats
{
	position:relative;
}

.votes
{
	width:100%;
	height:40px;
}

.up_count
{
	text-align:left;
	float:left;
	color:#009900;
	font-weight:bold;
	margin:5px;
}

.up_btn
{
	float:left;
	width:32px;
	height:32px;
	background-color:#00EE00;
}

.up_btn:hover
{
	background-color:#00AA00;
	cursor:pointer;
}

.down_count
{
	text-align:right;
	float:right;
	color:#990000;
	font-weight:bold;
	margin:5px;
}

.down_btn
{
	float:right;
	width:32px;
	height:32px;
	background-color:#EE0000;
}

.down_btn:hover
{
	background-color:#AA0000;
	cursor:pointer;
}

.btn_disabled
{
	background-color:#666677;
}

.btn_disabled:hover
{
	background-color:#666677;
	cursor:auto;
}

.up_btn_chosen
{
	background-color:#00EE00;
}

.up_btn_chosen:hover
{
	background-color:#00EE00;
	cursor:auto;
}

.down_btn_chosen
{
	background-color:#EE0000;
}

.down_btn_chosen:hover
{
	background-color:#EE0000;
	cursor:auto;
}

.meter_area
{
	width:100%;
	height:20px;
	margin:auto;
}

.meter
{
	width:80%;
	margin:0px auto;
}

.meter_bar_r
{
	height:6px;
	width:100%;
	margin:0;
	padding:0;
	background-color:#EE0000;
}

.meter_bar_g
{
	position:relative;
	height:6px;
	top:-6px; /*Overlay onto meter_bar_r*/
	margin:0;
	padding:0;
	background-color:#00EE00;
}

.view_count
{
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

.flag_area
{
	width:100%;
	height:16px;
}

.flag
{
	float:right;
}

.flag:hover
{
	background-color:#222222;
}

.right-column
{
	width:709px;
	float:left;
}

/*Comments*/

.comments-area
{
	width:700px;
	float:left;
	margin-left:15px;
	background-color:#FFFFFF;
}

.comments
{
	width:100%;
}

.comment
{
	width:100%;
	border-top:solid thin #EFEFEF;
	border-bottom:solid thin #EFEFEF;
}

.pager
{
	width:100%;
	height:32px;
	background-color:#EEEEFF;
}

.pager-num
{
	width:32px;
	height:32px;
	float:left;
	background-color:#DDDDEE;
	border:solid thin #8686A9;
	text-align:center;
	font-size:26px;
}

.pager-num:hover
{
	cursor:pointer;
	background-color:#CCCCDD;
}

.comment-box
{
	width:100%;
	height:200px;
}

.comment-box-textarea
{
	width:99%;
	height:100px;
}