#gcwu-aside ul
{
margin:1.5em;
}
.annualsIntro
{
text-align:left; margin:1em 1em;font-size:0.9em;
}
.annualsIntro a
{
font-size:90%;
}

.rButtonShowRegList {
    background          : #FFE048;
    font-size           : 80%;
    height              : 12px;
    font-weight         : bold;
    color               : black;
    padding             : 0px 3px 1px 3px;
    cursor              : pointer;
    text-decoration     : none;
    border              : 2px outset white;

}

a.rButtonShowRegList:hover
{
	border:2px inset;
}


/*
a.boldLink {	
	color			: #000000;		
}

a.boldLink:hover {
	color			: #CC9900;
}
*/

ul.menu-horizontal a.button-small
{
	padding-right:3px;
	padding-left:3px;
}
ul.alphaList
{
	list-style-type:none;
	padding:0;
	margin:0;
}
ul.titlesList
{
	list-style-type:none;
	padding:0;
	margin:0.5em;
}
ul.alphaList li
{
	display:inline;
}
ul.titlesList li
{
	padding:0.5em;
}

.borderTop
{
	border-top: 1px solid black;
}

.htmlLink	{ 
	padding-bottom: 0.75em; 
	color:black;
	}

.pdfLink	{ 
		float			: right;  
		width			: 10.0em;
		}


.pdfLink span.fileSize
{
	color:#333;
}

.regLink {
	position	: relative;
	top			: 0.50em;
	padding		: 0.10em;
	float		: right;
}

/* Autres.	*/
div.nbRange
{
	margin-top			: 0.40em;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	color				: blue;
	font-weight			: bold;
	text-align			: center;
}

div.annual
{
	width:100%;
	overflow:auto;
}

div.annualMenu
{
	text-align:center;
	margin-top : 1em;
	margin-bottom: 1em;
}

ul.annualMenu
{
	list-style-type:none;
	margin:0;
	padding:0;
}

ul.annualMenu li
{	
	display:inline;
	padding-right:0.5em;
}
div.annual p
{
	margin-top : 0.5em;
}

span.bill
{
	color: #53290B;
}

p.annualIndexHeader
{
	text-align:right;
	font-weight:bold;
	margin-top: 0.5em;
}

div.annualLeft
{
	float:left;
	width:70%;
}
div.annualRight
{
	float:right;
	width:30%;
	font-style:italic;
	font-size:90%;
	text-align:right;
}

.objTitle
{
	margin-top		: 0.5em;
	height			: 100%;
}

.linksBox
{
	margin-top: 0.5em;
}

.mainAnnual
{
	border-top		: 1px solid black;
	margin-top		: 1.0em;
	padding-top		: 0.5em;
	padding-left	: 0.5em;
}

.annualLink a		{ font-weight	: bold!important; cursor:pointer; }
	

.letterBarBlock
{
	text-align		: center;
	width			: 100%;
	margin-top		: 0.4em;
}

a.filterSelected
{
	color:blue !important;
	font-weight: bold;
	font-size: 1.2em;
}

a.filter
{
	margin-left:0.3em;
}

div.letterBarBlock a:link, div.letterBarBlock a:active, div.letterBarBlock a:visited
{
	text-decoration: underline;
	color: black;
}



